{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block pageheader %}
    <h1>Person Details</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('person_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit
                </a>
                <a href="{{ path('person_delete', { 'id': person.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Person?">
                    <span class='glyphicon glyphicon-remove'></span> Delete
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>First Name</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{% if person.alias %}{{ person.alias|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Native</th>
                <td>{{ person.native }}</td>
            </tr>
            <tr>
                <th>Occupation</th>
                <td>{{ person.occupation }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ person.sex }}</td>
            </tr>
            <tr>
                <th>Birth Date</th>
                <td>{{ person.birthDate }}</td>
            </tr>
            <tr>
                <th>Birth Status</th>
                <td>{{ person.birthStatus }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ person.status }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if person.created %}{{ person.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if person.updated %}{{ person.updated|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Birthplace</th>
                <td>
                    <a href="{{ path('city_show', { 'id': person.birthPlace.id}) }}">
                        {{ person.birthPlace }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Race</th>
                <td>
                    <a href="{{ path('race_show', { 'id': person.race.id}) }}">
                        {{ person.race }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Relationships</th>
                <td>
                    {% if person.relationships | length > 0 %}
                        <ul>
                            {% for relationship in person.relationships %}
                                <li>
                                    <a href="{{ path("relationship_show", {"id":relationship.id}) }}">
                                        {{ relationship }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Events</th>
                <td>
                    {% if person.events | length > 0 %}
                        <ul>
                            {% for event in person.events %}
                                <li>
                                    <a href="{{ path("event_show", {"id":event.id}) }}">
                                        {{ event }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if person.residences | length > 0 %}
        <h2>Residences</h2>
        <ul>
            {% for residence in person.residences %}
                <li>
                    <a href="{{ path("city_show", {"id":residence.id}) }}">
                        {{ residence }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if person.witnesses | length > 0 %}
        <h2>Witnesses</h2>
        <ul>
            {% for witness in person.witnesses %}
                <li>
                    <a href="{{ path("witness_show", {"id":witness.id}) }}">
                        {{ witness }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if person.firstPartyTransactions | length > 0 %}
        <h2>Firstpartytransactions</h2>
        <ul>
            {% for firstPartyTransaction in person.firstPartyTransactions %}
                <li>
                    <a href="{{ path("transaction_show", {"id":firstPartyTransaction.id}) }}">
                        {{ firstPartyTransaction }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if person.secondPartyTransactions | length > 0 %}
        <h2>Secondpartytransactions</h2>
        <ul>
            {% for secondPartyTransaction in person.secondPartyTransactions %}
                <li>
                    <a href="{{ path("transaction_show", {"id":secondPartyTransaction.id}) }}">
                        {{ secondPartyTransaction }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
