<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Relationship</th>
            <th>Category</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        {% for relationship in relationships %}
            <tr>
                <td>
                    <a href="{{ path('relationship_show', { 'id': relationship.id }) }}">
                        {{ relationship.person }} - {{ relationship.relation }}
                    </a>
                </td>
                <td>
                    {{ relationship.category }}
                </td>
                <td>
                    {{ relationship.startDate }}
                </td>
                <td>
                    {{ relationship.endDate }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
