<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Person</th>
            <th>Category</th>
            <th>Relation</th>
        </tr>
    </thead>
    <tbody>
        {% for relationship in relationships %}
            <tr>
                <td>
                    <a href="{{ path('person_show', { 'id': relationship.person.id }) }}">
                        {{ relationship.person }}
                    </a>
                </td>
                <td>
                    {{ relationship.category }}
                </td>
                <td>
                    <a href="{{ path('person_show', { 'id': relationship.relation.id }) }}">
                        {{ relationship.relation }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
