<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>First Name</th>
            <td>
                {{ person.firstName }}
            </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>
                {{ person.lastName }}
            </td>
        </tr>
        <tr>
            <th>Aliases</th>
            <td>
                {{ person.aliases|join('; ') }}
            </td>
        </tr>
        <tr>
            <th>Native</th>
            <td>
                {{ person.native }}
            </td>
        </tr>
        <tr>
            <th>Occupation</th>
            <td>
                {% if person.occupations|length %}
                    <ul>
                        {% for job in person.occupations %}
                            <li>{{ job['date'] }} {{ job['occupation'] }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Sex</th>
            <td>
                {{ include('person/partial/gender.html.twig', {'person': person}) }}
            </td>
        </tr>
        <tr>
            <th>Birth Status</th>
            <td>
                {% if person.birthStatus %}
                    <a href='{{ path('birth_status_show', {'id': person.birthStatus.id}) }}'>{{ person.birthStatus }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {{ person.statuses|join('; ') }}
            </td>
        </tr>
        <tr>
            <th>Race</th>
            <td>
                {% if person.race %}
                    <a href='{{ path("race_show", {"id": person.race.id}) }}'>{{ person.race }}</a>
                {% endif %}
                {% if person.writtenRaces|length > 0 %}
                    Recorded as
                    {% for race in person.writtenRaces %}
                        <i>{{ race }}</i>{% if not loop.last %}; {% endif %}{% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Residence</th>
            <td>
                {% if person.residences|length > 0 %}
                    <ul>
                        {% for residence in person.residences %}
                            <li>
                                <a href='{{ path("residence_show", {"id":residence.id }) }}'>
                                    {{ residence }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Relationship</th>
            <td>
                {% if person.relationships|length > 0 %}
                    <ul>
                        {% for relationship in person.relationships|sort((a,b) => a.category.weight <=> b.category.weight) %}
                            <li>
                                {{ relationship.category }}:
                                <a href='{{ path('person_show', {'id': relationship.relation.id}) }}'>{{ relationship.relation }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Events Witnessed</th>
            <td>
                {% if person.witnesses|length > 0 %}
                    <ul>
                        {% for witness in person.witnesses|sort((a,b) => a.event.date <=> b.event.date) %}
                            {% set event = witness.event %}
                            <li>
                                <a href='{{ path('event_show', {'id': event.id}) }}'>
                                    {% if event.writtenDate %}{{ event.writtenDate }}{% else %}{{ event.date }}{% endif %}
                                </a>
                                {{ event.category }} {{ witness.category }}
                                {% for person in event.participants %}
                                    <a href='{{ path("person_show", {"id":person.id }) }}'>
                                        {{ person }}
                                    </a>{% if not loop.last %}; {% endif %}

                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Events Participated</th>
            <td>
                {% if person.events|length > 0 %}
                    <ul>
                        {% for event in person.events|sort((a,b) => a.date <=> b.date) %}
                            <li>
                                <a href='{{ path('event_show', {'id': event.id}) }}'>
                                    {% if event.writtenDate %}{{ event.writtenDate }}{% else %}{{ event.date }}{% endif %}
                                </a>
                                {{ event.category }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>First Party Transactions</th>
            <td>
                {% if person.firstPartyTransactions|length > 0 %}
                    <ul>
                        {% for transaction in person.firstPartyTransactions|sort((a,b) => a.date <=> b.date) %}
                            <li>
                                <a href='{{ path("transaction_show", {"id":transaction.id }) }}'>
                                    {{ transaction.date|date('Y-m-d') -}}
                                </a>
                                {{ transaction.category }} {{ transaction.conjunction }}
                                {% if transaction.secondParty %}
                                    <a href='{{ path('person_show', {'id': transaction.secondParty.id}) }}'>{{ transaction.secondParty }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Second Party Transactions</th>
            <td>
                {% if person.secondPartyTransactions|length > 0 %}
                    <ul>
                        {% for transaction in person.secondPartyTransactions|sort((a,b) => a.date <=> b.date) %}
                            <li>
                                <a href='{{ path("transaction_show", {"id":transaction.id }) }}'>
                                    {{ transaction.date|date('Y-m-d') -}}
                                </a>
                                {{ transaction.category }}
                                {% if transaction.firstParty %}
                                    <a href='{{ path('person_show', {'id': transaction.firstParty.id}) }}'>{{ transaction.firstParty }}</a>
                                {% endif %}
                                {{ transaction.conjunction }} {{ person }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        {% if is_granted('ROLE_USER') %}
            <tr>
                <th>Notes</th>
                <td>{{ person.notes|raw }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Created</th>
            <td>{{ person.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ person.updated|date }}</td>
        </tr>
    </tbody>
</table>


