<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        {% embed '@NinesUtil/term/partial/show.html.twig' with {'term': relationship_category} %}
            {% block callback %}
                <tr>
                    <th>Weight</th>
                    <td>{{ relationship_category.weight }}</td>
                </tr>
            {% endblock %}
        {% endembed %}
    </tbody>
</table>

<h2>Relationships</h2>
{% if relationship_category.relationships|length > 0 %}
    {% set relationships = relationship_category.relationships %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Person</th>
                <th>Category</th>
                <th>Relation</th>
            </tr>
        </thead>
        <tbody>
            {% for relationship in relationships|sort((a,b) => (a.person.lastName <=> b.person.lastName ?: a.person.firstName <=> b.person.firstName)) %}
                <tr>
                    <td>
                        <a href="{{ path('person_show', { 'id': relationship.person.id }) }}">
                            {{ relationship.person }}
                        </a>
                    </td>
                    <td>
                        {{ relationship.category }}
                    </td>
                    <td>
                        <a href="{{ path('person_show', { 'id': relationship.relation.id }) }}">
                            {{ relationship.relation }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
