{% extends 'base.html.twig' %}

{% block title %}Birth Status List{% endblock %}

{% block pageheader %}
    <h1>Birth Status List</h1>
    <p class="count">
        Displaying {{ birth_statuses|length }} birth_statuses of {{ birth_statuses.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}
    <p>Spanish law distinguised among four different birth statuses: legitimate, natural, legitimated, and illegitimate.
        If a child's parents were in a validly contracted marriage at the time of their birth, the child was legitimate.
        A natural child was one whose parents could marry but had not. Natural children became legitimated if their
        parents married subsequent to their birth or if granted legitimacy by royal decree. Illegitimate children were
        those born of relationships prohibited by canon law and could not be retroactively legitimated. [Adapted from
        Jennifer M. Spear, Race, Sex, and Social Order in Early New Orleans (Johns Hopkins University Press, 2009),
        139.]</p>
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('birth_status_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('birth_status_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% embed 'birth_status/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(birth_statuses) }}
    </div>

{% endblock %}
