<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Label</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        {% for event_category in event_categories %}
            <tr>
                <td>
                    <a href="{{ path('event_category_show', { 'id': event_category.id }) }}">
                        {{ event_category.id }}
                    </a>
                </td>
                <td>
                    {{ event_category.name }}
                </td>

                <td>
                    {{ event_category.label }}
                </td>

                <td>
                    {{ event_category.description|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
