{% extends 'base.html.twig' %}

{% block title %}Event List{% endblock %}

{% block pageheader %}
    <h1>Event List</h1>
    <p class="count">
        Displaying {{ events|length }} events of {{ events.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('event_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            <a href="{{ path('event_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Written Date</th>
                <th>Category</th>
                <th>Location</th>
                <th>Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>
                        <a href="{{ path('event_show', { 'id': event.id }) }}">
                            {{ event.writtenDate }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('event_category_show', {'id': event.category.id}) }}">
                            {{ event.category }}
                        </a>
                    </td>
                    <td>
                        {% if event.location %}
                            <a href="{{ path('location_show', {'id': event.location.id}) }}">
                                {{ event.location }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if event.date %}
                            {{ event.date|date('Y-m-d') }}
                        {% endif %}
                    </td>
                    <td>
                        {{ event.note }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(events) }}
    </div>

{% endblock %}
