{% extends 'base.html.twig' %}

{% block title %}LocationCategory List{% endblock %}

{% block pageheader %}
    <h1>LocationCategory List</h1>
    <p class="count">
        Displaying {{ locationCategories|length }} locationCategories of {{ locationCategories.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('location_category_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            <a href="{{ path('location_category_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed '@NinesUtil/term/partial/index.html.twig' with {
        'terms': locationCategories,
        'path': 'location_category_show',
    } %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(locationCategories) }}
    </div>

{% endblock %}
