<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                {{ location.name }}
            </td>
        </tr>

        <tr>
            <th>Category</th>
            <td>
                {% if location.category %}
                    <a href='{{ path("location_category_show", {"id": location.category.id}) }}'>{{ location.category }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ location.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ location.updated|date }}</td>
        </tr>
    </tbody>
</table>

<h2>Events</h2>
{% if location.events|length > 0 %}
    <table class='table table-bordered table-condensed table-hover table-striped'>
        {% for event in location.events|sort((a,b) => a.date <=> b.date) %}
            <tr>
                <td>
                    <a href="{{ path('event_show', { 'id': event.id }) }}">{% if event.writtenDate %}{{ event.writtenDate }}{% else %}{{ event.date }}{% endif %}</a>
                </td>
                <td>
                    <a href='{{ path('event_category_show', {'id': event.category.id}) }}'>{{ event.category }}</a>
                </td>
                <td>
                    {% for person in event.participants %}
                        <a href='{{ path('person_show', {'id': person.id}) }}'>{{ person }}</a>{% if not loop.last %}; {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ event.note }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
