<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Label</th>
            <th>Description</th>
            <th>Spanish Ungendered</th>
            <th>Spanish Male</th>
            <th>Spanish Female</th>
            <th>French Ungendered</th>
            <th>French Male</th>
            <th>French Female</th>

        </tr>
    </thead>
    <tbody>
        {% for race in races %}
            <tr>
                <td>
                    <a href="{{ path('race_show', { 'id': race.id }) }}">
                        {{ race.id }}
                    </a>
                </td>
                <td>
                    {{ race.name }}
                </td>

                <td>
                    {{ race.label }}
                </td>

                <td>
                    {{ race.description|raw }}
                </td>

                <td>
                    {{ race.spanishUngendered }}
                </td>

                <td>
                    {{ race.spanishMale }}
                </td>

                <td>
                    {{ race.spanishFemale }}
                </td>

                <td>
                    {{ race.frenchUngendered }}
                </td>

                <td>
                    {{ race.frenchMale }}
                </td>

                <td>
                    {{ race.frenchFemale }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
