{% extends 'base.html.twig' %}

{% block title %}Person Search{% endblock %}

{% block pageheader %}
    <h1>Person Search</h1>
    {% if q %}
        <p class="count">
            Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' with {
        'path': path('person_search')
    } %}

    {% if q %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Alias</th>
                    <th>Sex</th>
                    <th>Birth Date</th>
                    <th>Birth Status</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}
                    <tr>
                        <td>
                            <a href="{{ path('person_show', { 'id': person.id }) }}">
                                {{ person.firstName }}
                            </a>
                        </td>
                        <td>{{ person.lastName }}</td>
                        <td>{% if person.alias %}{{ person.alias|join(', ') }}{% endif %}</td>
                        <td>{{ person.sex }}</td>
                        <td>{{ person.birthDate }}</td>
                        <td>{{ person.birthStatus }}</td>
                        <td>{{ person.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>
    {% endif %}

{% endblock %}
