{% extends 'base.html.twig' %}

{% block title %}EventCategory List{% endblock %}

{% block pageheader %}
    <h1>EventCategory List</h1>
    <p class="count">
        Displaying {{ eventCategories|length }} eventCategories of {{ eventCategories.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('event_category_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            <a href="{{ path('event_category_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'NinesUtilBundle:term:partial/index.html.twig' with {
        'terms': eventCategories,
        'path': 'event_category_show',
    } %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(eventCategories) }}
    </div>

{% endblock %}
