{% extends 'base.html.twig' %}

{% block title %}Witness List{% endblock %}

{% block pageheader %}
    <h1>Witness List</h1>
    <p class="count">
        Displaying {{ witnesses|length }} witnesses of {{ witnesses.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('witness_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            <a href="{{ path('witness_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Person</th>
                <th>Category</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            {% for witness in witnesses %}
                <tr>
                    <td>
                        <a href="{{ path('person_show', {'id': witness.person.id}) }}">
                            {{ witness.person }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('witness_category_show', {'id': witness.category.id}) }}">
                            {{ witness.category }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('event_show', {'id': witness.event.id}) }}">
                            {{ witness.event }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(witnesses) }}
    </div>

{% endblock %}
