<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Notary</th>
            <td>
                {% if ledger.notary %}
                    <a href='{{ path("notary_show", {"id": ledger.notary.id}) }}'>{{ ledger.notary }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Volume</th>
            <td>
                {{ ledger.volume }}
            </td>
        </tr>
        <tr>
            <th>Year</th>
            <td>
                {{ ledger.year }}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ ledger.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ ledger.updated|date }}</td>
        </tr>
    </tbody>
</table>

<h2>Transactions</h2>
{% if ledger.transactions|length > 0 %}
    {% include 'transaction/partial/table.html.twig' with {'transactions': ledger.transactions} %}
{% endif %}
